@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   color: #1e1e2a; 
  
   
}
/* HEADER */


.header-container{
    height: 80vh;
    width: 100%;
    max-width: 100%;
    background-image: url(./img/trabalho.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}
h1{
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: blue;
}
h2{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: blue;
}
.social-media{
    display: flex;   
}
.social-media a{
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 1rem;
    transition: .5s ease-in-out;
    width: 40px;
    height: 40px;
    display: flex;    
}

/* MENU HAMBURGUER */

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: #8affc1;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);

}
.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);

}
.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);

}
#toggle{
    display: none;
}

/* MENU */
.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px aquamarine;
    z-index: -1;
    transition: 400ms ease-in-out 0s;  
}
.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-itens ul{
    list-style-type: none;
}
.menu-itens ul li a {
    margin: 10px 0;
    color: #000814;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;     

}
/* ANIMAÇÃO DO MENU */
#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    top: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}
#toggle:checked + .checkbox{
    background-color: #ffffff;
}
#toggle:checked ~ .menu{    
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}
#toggle:checked ~ .menu-itens{
    visibility: visible;
    opacity: 1;
}
/* CARDS */

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../fundao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
    

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
    
}
.card{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/programar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: 90fcf9;
    
    transition: 0.5s case-in-out;

}
.card-text{
    width: 70%;
    letter-spacing: 1px;
    
}
.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-wrapper::before{
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 2px solid #60e1e0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 20px;
    margin: 0;
    margin-top: 0;
    transition: 0.5s ease-in-out;
    color: #60e1e0;
    
}
.card-wrapper a{
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    color: #60e1e0;
    text-decoration: none;
}
.card:hover{
    filter: unset;
}
.card:hover > .card-wrapper::before{
    height: 150px;
    width: 150px;
    opacity: 1;
}
.card:hover > .card-wrapper a {
    opacity: 1;
    visibility: visible;
    font-size: 20px;
    
}

/* FOOTER */

.footer{
    width: 100%;
    height: 40px;
    background-color: #e4e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e1e2a;
   
}
@media (max-width: 760px) {
    .header-container{
        width: 100%;
        height: 50vh;
        padding: 0 10px;
        max-width: 100%;
    }
    h1{
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
    }
    h2{
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
    }
    .card-text{
        letter-spacing: 2px;
        padding: 15px;
    }

}

